#root,
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
}

:root,
* {
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.main > .column {
  padding: 1em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.columns-1 > .column {
  width: 100%;
}
.columns-3 > .column {
  width: 100%;
}
.columns-3 > .column:first-child {
  width: 70%;
}
.columns-3 > .column.closed {
  width: 5%;
  overflow-x: auto;
}

.main > iframe.column {
  min-width: 50%;
  width: 100%;
}

.field {
  display: flex;
  flex-direction: row;
}

.file {
  min-width: 100px;
  font-size: 11pt;
  margin-bottom: 0.4em;
}

.file a {
  text-decoration: none;
  color: black;
  background-color: beige;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.3em 0.5em;
  border-radius: 4px;
}

.file.current a {
  background-color: aqua;
}

.file a:hover {
  background-color: aqua;
}

.column {
  height: 100%;
  overflow-y: auto;
}

.field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  position: relative;
  background-color: beige;
  width: 100%;
  padding: 0.3em 0.5em;
  margin-bottom: 0.3em;
}

.field .deleteField {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.field:hover .deleteField,
.field:focus .deleteField {
  display: block;
}

.test-input {
  width: 70px;
}

.field span {
  display: inline-block;
}
.field .field-name {
  width: 100px;
  font-size: 11pt;
}

.field .field-measure {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.field .field-range {
  font-size: 10pt;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
}

textarea {
  width: 100%;
  min-height: 200px;
}
