.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2;
  border-radius: 2;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.isDragActive {
  border-color: #2196f3;
}

.parser textarea {
  width: 100%;
  min-height: 400px;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}
